.expressions{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.text{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
}

.menu{
    margin: 160px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.alignCenter{
    margin-top: 25px;
    align-items: center;
}

.dialogDimensions{
    width : 70%;
    height: 70%;
}

.addExpression{
    gap:5px;
    display: flex;;
    width: fit-content;
    flex-direction: row;
}